<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072358350737-aphk69erep3etnkm7s3o0l1fv939k5ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072358350737-aphk69erep3etnkm7s3o0l1fv939k5ua</string>
	<key>API_KEY</key>
	<string>AIzaSyA-oaSBvWafCLZ_YTanMVOUWvonZuXvNgE</string>
	<key>GCM_SENDER_ID</key>
	<string>1072358350737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omarrayyan.prayingTimes</string>
	<key>PROJECT_ID</key>
	<string>praying-ti</string>
	<key>STORAGE_BUCKET</key>
	<string>praying-ti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072358350737:ios:c2e34b644f3f1578a18430</string>
</dict>
</plist>